<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

 <suite name="Suite" thread-count="5" parallel="tests">
  <!-- <test thread-count="5" name="chrome browser test">
  	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testCases.ResgistrationPageTest"/>
    </classes>
  </test>  Test -->
  
  <test thread-count="5" name="safari browser test">
	<parameter name="browser" value="safari"></parameter>
    <classes>
      <class name="testCases.ResgistrationPageTest"/>
      <class name="testCases.LoginPageTest"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
